/* App specific styles if any */
.App {
    scrollbar-width: none;
}

/* Custom Ratio for Movie Cards (2:3 aspect ratio) */
.ratio-2x3 {
    --bs-aspect-ratio: 150%;
    /* 3 / 2 = 1.5 = 150% padding-bottom */
}

/* Ensure footer sticks to bottom if content is short */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}